.chatter-top {
  height: fit-content;
  display: flex;
  background-color: rgb(243, 248, 255);
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  padding: 0.5rem;
  line-height: 1px;
}

.chat-profile-name {
  font-size: large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.chat-last-seen {
  font-size: xx-small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.chatter .chatrow {
  flex-direction: column;
  margin: 2px;
}

.chatter {
  min-height: 35rem;
  max-height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chatter::-webkit-scrollbar {
  display: none;
}
