.chatlist-display {
  overflow-y: scroll;
  max-height: 35rem;
  overflow-x: hidden;
  min-width: 100%;
}

.chatlist .individual {
  color: aliceblue;
  font-weight: 300;
  padding: 1rem 1rem 0 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.chatlist-display::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chatter {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
